window {
    background-color: #11111b;
    color: #cdd6f4;
    font-family: "Hack Nerd Font Mono";
}

#input {
    background-color: #181825;
    color: #f2cdcd;
    box-shadow: none;
    border-style: none;
    padding: 5px;
}
