@import "mocha.css";

* {
    font-family: "0xProto Nerd Font Mono";
    font-size: 12px;
}

#waybar {
    color: @text;
    background-color: @base;
}

#network {
    margin-right: 2em;
    margin-left: 2em;
    color: @sky;
}

#network.disconnected {
    color: @maroon;
}

#workspaces {
    background-color: @surface0;
    border-radius: 1em;
    margin-left: 2em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#window {
    color: @mauve;
}

#workspaces button {
    border-width: 0;
    text-shadow: none;
    box-shadow: none;
    margin: 0;
    border-radius: 2em;
    background-color: @surface1;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#workspaces button:hover {
    border-width: 0;
    color: @teal;
}

#workspaces button.active, #workspaces button.focused {
    color: @sapphire;
    background-color: @lavender;
    color: @crust;
}

#clock {
    padding-left: 20px;
    padding-right: 20px;
    color: @rosewater;
}

#clock:hover, #wireplumber:hover {
    background-color: @crust;
    color: @teal;
}

#battery {
    padding-left: 20px;
    padding-right: 20px;
    color: @green;
}

#battery.charging {
    color: rgb(100, 255, 150);
}

#wireplumber {
    padding-left: 20px;
    padding-right: 20px;
}

#backlight {
    padding-left: 20px;
    padding-right: 20px;
    color: @flamingo;
}
